<p><h2><%= @vehicle.make %>
<%= @vehicle.model %> <%= @vehicle.year %></h2></p>
<h5><a href="/vehicles/<%= @vehicle.id %>/edit">Edit Vehicle</a></h5>
<br>
<br>

<h4>Service:</h4><br>
<% if @vehicle.services == [] %>
<p><%= "--There are no maintenance services to show for this vehicle yet--" %></p><br>
<% else %>
    <div>
    <% @vehicle.services.each do |service| %>
        <h5><%= service.service_item %>
        <%= "on" %>
        <%= service.date %>
        <%= "at" %>
        <%= service.mechanic %>
        <%= "for $" %>
        <%= service.cost %></a></h5>
        <br>
    <% end %>
    </div>
<% end %>
<br>

<h4>Enter info below to add maintenance services:</h4>
<form method="post" action="/services">
  <p>
  <h5><label for="service_item;">Service:</label>
  <input type="text" name="service_item" />
  </p>
  <p>
  <label for="date">Date of Service:</label>
  <input type="text" name="date" />
  </p>
  <p>
  <label for="mechanic">Mechanic:</label>
  <input type="text" name="mechanic" />
  <p>
  <label for="cost">Cost:</label>
  <input type="integer" name="cost" />
  </p>
  <input type="hidden" name="vehicle_id" value="<%= @vehicle.id %>"
  </p></h5>
    <input type="submit" value="Add service">
</form>
<br>
<br>
<br>
<form method="post" action="/vehicles/<%= @vehicle.id %>/delete">
    <input type="hidden" name="_method" value="delete" />
    <input type="submit" value="Delete Vehicle" />
</form>