<p><h2><%= @vehicle.make %>
<%= @vehicle.model %> <%= @vehicle.year %></p>
</h2>
<h5><a href="/vehicles/<%= @vehicle.id %>/edit">Edit Vehicle</a></h5>
<h5><a href="/services/new">View Services</a></h5>
</p><br>
<br>

<h4>Service:</h4><br>
<% if @services == nil %>    
<p><%= "--There are no maintenance services to show for this vehicle yet--" %></p><br>
<% else %>
    <ul>
    <h5><% @services.each do |service| %>
        <%= services.service_item %>
        <%= services.date %>
        <%= services.mechanic %></a></h5>
        <br>
    <% end %>
    </ul>
<% end %>

<h4>Enter info below to add maintenance services:</h4>
<form method="post" action="/services">
  <p><h5>
  <label for="service_item;">Service:</label>
  <input type="text" name="service_item" />
  </p>
  <p>
  <label for="date">Date of Service:</label>
  <input type="text" name="date" />
  </p>
  <p>
  <label for="mechanic">Mechanic:</label>
  <input type="text" name="mechanic" />
  <p>
  <label for="cost">Cost:</label>
  <input type="integer" name="cost" />
  </p>
  <input type="hidden" name="vehicle_id" value="<%= @vehicle.id %>"
  </p></h5>
    <input type="submit" value="Add service">
</form>
<br>
<br>
<br>
<form method="post" action"/vehicles/:id/delete">
    <input type="hidden" name="_method" value="delete" />
    <input type="submit" value="Delete Vehicle" />
</form>