<p><h5><%= @vehicle.make %>
<%= @vehicle.model %> <%= @vehicle.year %></p>
</p><br>

<h4>Service:</h4>
<% if @services == nil %>    
<h5><%=  "Click 'Add Service' to enter service for this vehicle"%></h5>
<% else %>
    <ul>
    <% @services.each do |service| %>
        <%= services.service_item %>
        <%= services.date %>
        <%= services.mechanic %></a></h5>
        <br>
    <% end %>
    </ul>
<% end %>


<h5><a href="/services/new">Add Service</a>
<a href="/vehicles/<%= @vehicle.id %>/edit">Edit Vehicle</a></h5><br>
<form method="post" action"/vehicles/:id/delete">
    <input type="hidden" name="_method" value="delete" />
    <input type="submit" value="Delete Vehicle" />
</form>
